@import "./../../styles/mixins";

.Task {
  @include flex-box($justify: space-between, $gap: 12px);
  padding: 20px;
  border-radius: 42px;
  color: rgb(45, 7, 48);
  min-height: 100px;
  width: 100%;

  .info {
    @include flex-box($justify: flex-end);

    img,
    button {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      background-color: rgb(105, 45, 112);
    }

    button {
      border: 0;
      font-family: "Eagle Lake", cursive;
      font-size: 1.1rem;
      filter: grayscale(0.1) contrast(0.9) saturate(1.6);
      cursor: pointer;
    }

    .completed {
      background-color: rgb(68, 11, 72);
      color: rgb(251, 194, 255);
    }

    .uncompleted {
      background-color: rgb(49, 7, 52);
      color: rgb(253, 37, 138);
    }
  }

  .content {
    // span {
    //   font-size: 0.9rem;
    // }

    p {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 770px) {
  .Task {
    width: 75%;
    transition: 0.8s;

    &:hover {
      transform: scale(1.1);
    }

    .info {
      button {
        &:hover {
          filter: brightness(1.7);
        }
      }
    }
    .content {
      p {
        font-size: 27px;
      }
    }
  }
}
