.Navbar {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: rgb(45, 7, 48);
  z-index: 3;

  a & div:nth-child(2) {
    text-align: right;
  }

  div {
    display: flex;
    flex-direction: column;

    span {
      font-size: 0.8rem;
      color: rgb(123, 105, 123);
    }
  }
}
