@import "../../styles/mixins";

.TasksList {
  @include flex-box($direction: column, $gap: 35px);
  padding-top: 20px;
  text-align: center;

  h2 {
    color: rgb(160, 33, 169);
    font-weight: 100;
    transform: translateY(50px);
    pointer-events: none;
    user-select: none;
  }
}
